<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454992340893-fumt97pognpn96afmqtvm6gdg76t4bsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454992340893-fumt97pognpn96afmqtvm6gdg76t4bsi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>454992340893-vot8cidip5ko7bvu8ar74t7bdubjhjk2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTPjiQ5-vhIaWv9AMPoWEfcLRAfEugeEk</string>
	<key>GCM_SENDER_ID</key>
	<string>454992340893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>urban-outfitter</string>
	<key>STORAGE_BUCKET</key>
	<string>urban-outfitter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454992340893:ios:aed4a356391d9b5f22f174</string>
</dict>
</plist>